body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 15px;
}

p {
    margin-top: 10px;
}

ruby {
    font-size: 0.8em;
    color: #666;
}

rt {
    font-size: 0.6em;
}

/* Style for hyperlinks */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
